:root {
  --main-color:#81b64c;
  --darker-color:#4c7c3b;
  --lighter-color:#aedd66;
  --bg-color-lm: #b2bda55d;
  --bg-color-dm: #1f221b; 
}

body{
  background-color: var(--bg-color-lm);
  transition: background 0.2s linear;
}

.container {
  width: 280px;
  color: var(--bg-color-lm);
}


.title {
  font-size: 21px;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 10px;
  color: var(--darker-color);
  display: flex;
  align-items: center;
}

.title > img{
  padding-right: 10px;
}

.header {
  font-size: 15px;
  font-weight: bold;
  margin: 3px;
  margin-bottom: 6px;
  color: var(--main-color);
}

.spacer {
  margin-top: 0.8rem;
}

.optionsDiv {
  display: flex;
  padding: 3px;
}

#avgN{
  width: 40px;
  margin-top: 5px;
  margin-left: 4px;
}

.lbl {
  text-align: center;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
}

input[type=checkbox]{
  margin: 3px;
  accent-color:  var(--lighter-color);
}

input[type=number]{
  margin: 3px;
  background-color:  var(--lighter-color);  
}
.indentCheckBox{
  margin-left: 10px;
}

label {
  color: var(--darker-color);
}


body.dark {background-color: var(--bg-color-dm);}

body.dark label {color: var(--darker-color)}
body.dark .checkboxLabel {background-color: #464646}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkboxLabel {
  transition: background 0.2s linear;
  background-color: #c5c5c5;
  float: right;
  width: 45px;
  height: 22px;
  border-radius: 35px;
  bottom: 20px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
  margin-left: 7px;
}

.fa-sun {
  color: rgb(255, 196, 0);
  margin-right: 7px;  
}

.checkboxLabel .ball {
  background-color: #aedd66;
  width: 22px;
  height: 22px;
  position: absolute;
  transform: translateX(-1px);
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkboxLabel .ball {
  transform: translateX(24px);
}

#checkbox-mode{
  position: fixed;
  top: 0;
  left: 0;
}

#optionsForm{
  margin: 0;
}